{
  "extends": ["@habx/client/typescript"],
  "overrides": [
    {
      "files": ["packages/server/src/resolvers/*/**.ts"],
      "rules": {
        "@typescript-eslint/no-unused-vars": 0
      }
    }
  ]
}
